html {
height: 100%;
}

body{
  font-family: sans-serif;
/*      background: rgb(190,190,190);*/
/*      background: linear-gradient(0deg, rgba(150,150,150,1) 0%, rgba(220,220,220,1) 14%, rgba(255,255,255,1) 100%);*/
/*      padding:20vh;*/
}
select{
  font-size:7vh;
  color:lightblue;


  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';


  border-style:none;
  font-family: sans-serif;
}
form{
  font-size:8vh;
  color:white;

  transition: all 1s;
  transition-timing-function: ease-out;
  font-family: sans-serif;

}

.loading{
  transition: all 6s;
  transition-timing-function: ease-out;
  color:red;
/*      background-color:red;*/
  border-radius: 50px !important;

  color:#000!important;
  background-color:white!important;

  left: 50%;
}

.loading-border{
            transition: all 6s;
  transition-timing-function: ease-out;
  border-radius: 50px !important;
  border-style: solid;
  border-color:white;
  width: 75%;
   left: 50%;
   margin: auto;
}

.question{
    position:absolute;
  text-align: center;
  position:absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
